<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daniel.fitlog">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/deadliftlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.HomeScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.AddExercisesScreen"
            android:parentActivityName=".views.HomeScreen"
            android:label="Add sets to your workout"/>
        <activity
            android:name=".views.HighestWeightHistoryScreen"
            android:parentActivityName=".views.SelectionScreen"
            android:label="Select an exercise to track"/>
        <activity
            android:name=".views.HighestWeightGraphScreen"
            android:parentActivityName=".views.HighestWeightHistoryScreen"
            android:label="Highest weight for this exercise per date"/>
        <activity
            android:name=".views.SelectionScreen"
            android:parentActivityName=".views.HomeScreen"
            android:label="Choose a metric to view"/>
        <activity
            android:name=".views.WorkoutOverviewScreen"
            android:parentActivityName=".views.SelectionScreen"
            android:label="Choose a workout"/>
        <activity
            android:name=".views.WorkoutHistoryScreen"
            android:parentActivityName=".views.WorkoutOverviewScreen"
            android:label="Overview of sets"/>
        <activity
            android:name=".views.EditWorkoutScreen"
            android:parentActivityName=".views.WorkoutHistoryScreen"
            android:label="Edit your workout"/>
        <activity
            android:name=".views.OneRepMaxScreen"
            android:parentActivityName=".views.HomeScreen"
            android:label="Calculate your 1-Rep Max"/>
        <activity android:name=".views.WeightInputScreen"
            android:parentActivityName=".views.HomeScreen"
            android:label="Track your weight over time"/>
    </application>

</manifest>